@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Orbitron:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #D7F3FF, #A6E6FF 100%);
    color: #F5FFFF;
}
#title {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-weight: 100px;
    text-align: center;
    /* background: linear-gradient(180deg, #FF8A00 20%, #00D4AA 100%); */
    background: linear-gradient(180deg, #FF4E00 10%, #FF8A00 40%, #00CFFF 100%);
    -webkit-background-clip: text; /* keep for Chrome/Safari */
    color: transparent;
}
#about {
    background: linear-gradient(145deg, #00CFFF, #bfe24e);
    margin-left: 30px;
    margin-right: 30px;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 24px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0 0 12px #00CFFF;
}
#game-container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 0 12px #00CFFF;
}